*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(6, 34, 210);
    color: white;
    padding: 10px;
    text-align: center;
}
footer{
    background-color: rgb(6, 34, 210);;
    color: white;
    padding: 10px;
    text-align: center;
}
main{
    max-width: 960px;
    margin: 0px auto;
    padding: 10px;
}
p{
    padding: 10px;
}